/* *{
    background-color: aliceblue;
  }

  .card {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
    content: "";
    display: flex;
    clear: both;
    margin-right: 25%;
    margin-left: 24%;
  }
  .animasi{
    transition:width 0.4s ease-in-out;
    
  }
  
  .animasi:focus{
    width:100%!important
  }
  
  .text {
    color: #2196f3 !important;
  
    text-align: center;
  }
  
  .text1 {
    text-align: center;
    color: rgb(96, 160, 255);
  
  }
  
  .btn {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    color: #fff !important;
    background-color: #2196f3 !important;
  }
   */